<h1>Welcome to Chantelle's Bucket List</h1>
	<p>Learn about all my past, present and future adventures here.</p>
<h3>Current trip planning: Chicago Marathon Weekend - October 9th</h3>
	<p>Help me plan my trip to Chicago! I want eats, deets, sights and sounds.</p>
<h3>Upcoming trip planning: Baton Rouge & Denver for Christmas - late December</h3>
	<p>Lots of family time, good food and holiday festivities. We'll be spending one week in Baton Rouge with Scott's family and one week in Denver with mine.</p>
<h3>Future adventures!</h3>
	<p>
		<ul>
			<li>Honeymoon in Europe: Germany, Spain, The Netherlands</li>
			<li>Trip with Phoebe: Portland, Oregon</li>
			<li>Girl's Trip: Undecided location</li>
		</ul>
	</p>
